/.phpunit.cache
/node_modules
/public/{upload,uploads,storage,images,image,assets/*}
/public/upload/*
!/public/upload/no_image.jpg
/vendor
.env*
!.env.original
!.env.scribe
.phpunit.result.cache
Homestead.*
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.{idea,vscode}
*.pem
/storage/{*.key,*.log,*.sql,framework/*,logs/*.log}
/bootstrap/cache
storage/framework/*
/storage/*
/storage/*.key
/storage/*.log
/storage/*.sql
/storage/framework/*
/storage/logs/*.log
/.scribe/*
public/upload/fnb/*
!public/upload/fnb/.gitkeep